apiVersion: v1
kind: Service
metadata:
  name: ${pod_service_name}
  labels:
    a4c_id: ${deployment_id}
    a4c_name: ${deployment_id_name}
spec:
  selector:
    app: ${pod_name}
  ports:
    - protocol: TCP
      port: ${service_capability.properties["port"].value}
  type: NodePort