#foreach( $capa in $dockerType.template.capabilities.values() )
#if($capa.getType().contains("capabilities.endpoint"))
#set($dockerEndpoint=$capa)
#end
#end
apiVersion: v1
kind: Service
metadata:
  name: ${pod_service_name}
spec:
  selector:
    app: ${pod_name}
  ports:
    - protocol: TCP
      port: ${dockerEndpoint.properties["port"].value}
  type: NodePort