#if($cloud.getConfigurationLocation($deployment.locationType).openstackConfig)
dsl_definitions:
  openstack_config: &openstack_config
    password: { get_secret: $cloud.getConfigurationLocation($deployment.locationType).openstackConfig.password }
${util.natives.formatObjectProperties(2, $cloud.getConfigurationLocation($deployment.locationType).openstackConfig, ["password"])}
#end