/target
.classpath
.project
.settings
/.idea/
*.iml
alien4cloud-cloudify3-provider/src/test/resources/outputs/**/monitor
alien4cloud-cloudify3-provider/src/test/resources/outputs/**/plugins/cloudify-openstack-plugin
alien4cloud-cloudify3-provider/src/test/resources/outputs/**/plugins/*.zip
*.DS_Store
**/target/*

