#parse("provider/common/generic_resource.yaml.vm")
#foreach($compute in ${deployment.computes})
  ${compute.id}:
    type: ${compute.nodeTemplate.type}
    properties: ${util.natives.formatProperties(3, $compute.nodeTemplate.properties, $deployment.propertyMappings.get($compute.nodeTemplate.type))}

    interfaces:
      cloudify.interfaces.lifecycle:
        create:
          inputs:
            service_url: ${util.common.getScalarPropertyValue($compute.nodeTemplate, "host_pool_service_endpoint")}
        delete:
          inputs:
            service_url: ${util.common.getScalarPropertyValue($compute.nodeTemplate, "host_pool_service_endpoint")}
#if(!$cloud.getDisableDiamondMonitorAgent())
#parse("provider/common/monitoring_interfaces.yaml.vm")
#end
#end
